html {
  font-family: "Microsoft YaHei", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $normal;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

ol li,
ul li {
  list-style: none;
}

a {
  color: $normal;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.clearfix {
  zoom: 1;
}

.clearfix::after {
  display: block;
  clear: both;
  content: '';
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
not supported by any browser */
}

// .container {
//   max-width: 1200px;
//   margin: auto;
// }
