// 主色
$primary: #6d6b8d;
$primaryem: #be3426;
$auxiliary: #ef9f2d;
$normal: #57585b;
$gray: #cccccc;
$cayn: #bbe0f6;
$green: #7ebf6a;
$yellow: #FFFF99;
$orange: #B5B0CE;
$blue: #bbe0f6;
$lightblue: #6ab2e5;
$bg: #f5f5f5;
// scroll-bar
$scroll-bar-color: rgba(0, 0, 0, 0.5);

//$map-for-list-height:calc(80vh - 208px);//100vh-banner10vh-头部64px-content的padding32px-tab36px-tab的margin16px
$map-for-list-height:85vh;
